<br><br>
<div class="container">
  <div class="col-md-6">
    <img src="assets/images/m1.jpg" alt=""> 
  </div>
  <div class="col-md-6">
    <h1 class="descripcion">descripcion de la pasteleria</h1>
    <br>
    <br> <br>
    <p>descripcion mas precisa </p>
  </div>
</div>
<br><br>
<div class="container " >
  <div class="col-md-4 direccion">
      <i class="fa fa-map-marker marcador" aria-hidden="true"></i>
      <h3 class="direccion-text">direccion</h3>
      <p class="informacion">12K Street, 45 Building Road
          California, USA.</p>
  </div>
  <div class="col-md-4 telefono">
      <i class="fa fa-phone marcador" aria-hidden="true"></i>
    <h3 class="telefono-text">telefono</h3>
    <p class="informacion">+1234 758 839 <br>
        +1273 748 730</p>
  </div>
  <div class="col-md-4 correo">
      <i class="fa fa-envelope-o marcador" aria-hidden="true"></i>
    <h3 class="correo-text">correo </h3>
    <p class="informacion">info@example1.com
        info@example2.com</p>
  </div>
</div>
<br><br>
<div class="container">
  google maps 
</div>