<div class="margenes">


    <div class="container">
        <div class="col-md-4 div-img center" >
          <img class="slides zoom" src="assets/images/m1.jpg" alt="">
          <div class="img-slides">
              <ul>
                  <li class="img-responsive">foto 1</li>
                  <li>foto 2</li>
                  <li>foto 3</li>
                </ul>
          </div> 
        </div>
        <div class="col-md-8">
          <h3>Descripcion Del Pastel </h3>
          <p class="item-price">precio</p>
      <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
          <input type="submit" value="Comprar" class="button" name="" id="">
      </div>

        </div>
      </div>
      
      <div class="container">
        <p class="descripcion">descripcion</p>
        <div class="descripcion1"> descripcion del pastel dentro del div</div>
      </div>

</div>

<br>
<br>
<br>