<!--div para el ingreso del usuario-->
  <div class="header" id="home">
      <div class="container">
        <ul>
            <li> <a href="loginmodal"><i class="fa fa-unlock-alt" aria-hidden="true"> </i> Ingresar</a></li>
        </ul>
      </div>
   </div>
<!--nombre de la pasteleria en grande-->
  <div class="superposicion">
      <div class="logo_agile">
          <h1><a href="index.html"><span>P</span>asteles</a> <img src="assets/images/logoqueens.jpg" width="70" height="50"> <a href=""><span>Q</span>ueen's</a></h1>
          <h2></h2>
        </div>
  </div>   
<!-- FIN LOGO GRANDE NOMBRE -->
<div class="nav-cliente">
  <div class="container">
      <ul class="button">
          <li></li>
          <li><a routerLink="index" routerLinkActive="active">inicio</a></li>
          <li><a routerLink="caballeros" routerLinkActive="active">Pasteles de Caballeros</a></li>
          <li><a routerLink="damas" routerLinkActive="active">pasteles de Damas</a></li>
          <li><a routerLink="infantiles" routerLinkActive="active">Pasteles Infantiles</a></li>
          <li><a routerLink="contacto"  routerLinkActive="active">Sobre nosotros</a></li>
          
          </ul>
  </div>
</div>
