<carousel>
  <slide>
    <img class="img-size" src="assets/images/7.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img class="img-size" src="assets/images/8.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img class="img-size" src="assets/images/1.jpeg" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
<br>
    <div class="container">
<div class="col-md-6">
    <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
          listar por Categoria<span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" href="#">opcion 1</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">opcion 2</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">opcion 3</a></li>

        </ul>
      </div>
</div>
 <div class="col-md-6"> 
      
    <input type="text" class="form-control" placeholder="Buscar Pasteles">     
 </div>
    </div>
<br>
<div class="container">
  <div class="col-md-3 product-men">
      <div class="men-pro-item simpleCart_shelfItem">
          <div class="men-thumb-item">
            <img src="assets/images/m1.jpg" alt="" class="pro-image-front">
            <img src="assets/images/m1.jpg" alt="" class="pro-image-back">
              <div class="men-cart-pro">
                <div class="inner-men-cart-pro">
                  <a routerLink="../viewmore" routerLinkActive="active" class="link-product-add-cart">Ver Mas</a>
                </div>
              </div>
          </div>
          <div class="item-info-product ">
            <h4><a href="single.html">Formal Blue Shirt</a></h4>
            <div class="info-product-price">
              <span class="item_price">$45.99</span>
            </div>															
            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                <input type="submit" name="submit" value="Agregar Al Carrito" class="button" />
            </div>
          </div>     
        </div>
  </div>

</div>
